
* {
  all: unset;

  font-family: "AdwaitaMono Nerd Font";
}

$bg-color: #14262f;

@mixin box {
  background-color: $bg-color;

  padding: 0px 10px;

  border-radius: 13px;
  /* border: $subwin and unset or #{2px solid #618394}; */
}

.progress-icon {
  font-size: .7em;
  padding-right: 5px;
}

.calendar-module calendar {
  @include box;
}

.round-progress box {
  background-color: $bg-color;
}

.clock-module {
  
}

.clock-text {
  font-weight: bold;
  font-size: 1.05rem;
}

.date-text {
  margin-left: 5px;
  font-size: .80rem;
}

.bar {
  @include box;
}

.separator {
  $margin-tb: 3px;
  $margin-lr: 2px;
  
  background-color: #ffffff;
  margin-top: $margin-tb;
  margin-bottom: $margin-tb;
  margin-right: $margin-lr;
  margin-left: $margin-lr;
}

.os-icon {
  color: #51A1E4;
}

button {
  @mixin bg($hover: false) {
    background-color: $hover and #5b9fbe or $bg-color;

    padding: 0em .15em;
    margin: .5em 0em;
    border-radius: 8px;
  }

  @include bg;

  &:hover {
    @include bg(true);
  }
}

tooltip {
  font-size: 0.90rem;

  &.background {
    background-color: $bg-color;
    border-radius: 10px;
  }

  * {
    margin-left: 0.22em;
    margin-right: 0.22em;
  }
}
