* {
  all: unset;

  font-family: "Noto Sans";
}

$subwin-bg-color: #14262f;
$bg-color: #183b4a;

@mixin box($subwin: false) {
  background-color: $subwin and $subwin-bg-color or $bg-color;

  padding: 0px 10px;

  border-radius: 10px;
  /* border: $subwin and unset or #{2px solid #618394}; */
}

.calendar {
  @include box(true);

  day:selected {
    background-color: red;
  }
}

.bar {
  @include box;

  .clock-text {
    font-weight: bold;
    font-size: .95rem;
  }
}

button {
  @mixin bg($hover: false) {
    background-color: $hover and #5b9fbe or $bg-color;

    padding: 0em .15em;
    margin: .5em 0em;
    border-radius: 8px;
  }

  @include bg;

  &:hover {
    @include bg(true);
  }
}

tooltip {
  font-size: 0.90rem;

  &.background {
    background-color: $bg-color;
    border-radius: 10px;
  }

  * {
    margin-left: 0.22em;
    margin-right: 0.22em;
  }
}
