* {
  all: unset;

  font-family: "Noto Sans";
}

$bg-color: #14262f;

@mixin box {
  background-color: $bg-color;

  padding: 5px 8px;
  border-radius: 10px;
}

.bar {
  @include box;

  .time {
    font-weight: bold;
    font-size: 0.95rem;
  }
}

tooltip {
  .background { @include box; }
  /* label { margin: 2px; } */
}
