* {
  all: unset;

  font-family: "Noto Sans";
}

$bg-color: #14262f;

@mixin box {
  background-color: $bg-color;

  padding: 0px 10px;
  border-radius: 10px;
}

.bar {
  @include box;

  .date {
    font-weight: bold;
    font-size: 0.95rem;
  }
}

tooltip {
  font-size: 0.93rem;

  &.background {
    @include box;
  }

  * {
    margin: 3px;
  }
}

button:hover {
  background-color: rgba(128 128 128 / 50%)
}
