* {
  all: unset;

  font-family: "Noto Sans";
}

$bg-color: #14262f;

.bar {
  background-color: $bg-color;

  padding: 5px 8px;
  border-radius: 10px;

  & > .centerbox-start > .time {
    font-weight: bold;
  }
}
