* {
  all: unset;

  font-family: "Noto Sans";
}

$bg-color: #14262f;

@mixin box {
  background-color: $bg-color;

  padding: 0px 10px;
  border-radius: 10px;
}

.bar {
  @include box;

  .date {
    font-weight: bold;
    font-size: 0.95rem;

    &:hover {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-left: 0.3em;
      padding-right: 0.3em;
    }
  }
}

tooltip {
  font-size: 0.93rem;

  &.background {
    background-color: $bg-color;
    border-radius: 10px;
  }

  * {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

button:hover {
  border-radius: 10px;
  background-color: rgba(128 128 128 / 25%)
}
