* {
  all: unset;

  font-family: "Noto Sans";
}

$bg-color: #14262f;

@mixin box {
  background-color: $bg-color;

  padding: 5px 8px;
  border-radius: 10px;
}

.bar {
  @include box;

  .time, .date-tooltip {
    font-weight: bold;
    font-size: 0.95rem;
  }
}
